:root {
	--card: #93978c;
	--shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
	--border: #aec8e1;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0.75rem;
	background: #f0f4f8;
	color: #333;
}

main,
header,
footer {
	position: relative;
	z-index: 5;
}

#comboHint {
	display: none;
}
#liveStatus {
	display: none;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.75rem;
	border-radius: 18px;
	box-shadow: var(--shadow);
	backdrop-filter: blur(10px);
}
#appTitle {
	font-size: 36px;
	font-weight: normal;
	width: 25%;
	margin: 0;
	color: #fff;
}
.search-container {
	display: flex;
	width: 58%;
}
#searchForm {
	position: relative;
	height: 50px;
	width: 70%;
	display: flex;
	gap: 1rem;
	padding: 0;
	z-index: 100;
}
#cityInput {
	font-size: 23px;
	padding: 0.5rem 1.5rem;
	border: rgba(255, 255, 255, 0.3) 2px solid;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
	color: #fff;
}
#cityInput::placeholder {
	color: #f5f4f4;
}
#cityInput:focus {
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.9);
}
#button-absoute-block {
	position: absolute;
	right: 65px;
	top: 55%;
	transform: translateY(-50%);
}
#search-btn {
	position: relative;
	width: 28px;
	height: 28px;
	background: none;
	border: none;
	box-shadow: none;
}
#search-btn img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}
.secondary {
	position: relative;
	width: 36.46px;
	height: 36.46px;
	background: none;
	border: none;
	box-shadow: none;
	margin-top: 6px;
}
.secondary img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}
.language-selector {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	color: #fff;
	font-size: 28px;
}
.language-selector button {
	border: none;
	background: none;
	box-shadow: none;
	color: #fff;
	padding: 0;
	margin: 0;
	font-size: 36px;
}
.language-selector button[aria-pressed='true'] {
	background: none;
	transform: scale(1.1);
	border-bottom: 1px solid #fff;
}
#cityListbox {
	position: absolute;
	top: 69%;
	left: 0;
	width: 93%;
	background: rgba(125, 125, 125, 0.5);
	border: rgba(255, 255, 255, 0.3) 2px solid;
	border-radius: 0.6rem;
	list-style: none;
	box-shadow: var(--shadow);
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 100 !important;
	padding: 1rem;
}
.option {
	padding: 0.5rem;
	border-radius: 8px;
	cursor: pointer;
	color: #fff;
	transition: 0.2s ease-in-out;
}
.option[data-active='true'] {
	transform: scale(1.03);
	background: rgba(200, 200, 200, 0.6);
}
/* Вся область скроллбара */
#cityListbox::-webkit-scrollbar {
	width: 8px; /* толщина */
}
/* Трек */
#cityListbox::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-radius: 4px;
}
/* Ползунок */
#cityListbox::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}
/* Ползунок при наведении */
#cityListbox::-webkit-scrollbar-thumb:hover {
	background: #555;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	padding: 0 1.75rem;
}
#currentGeoLocationDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}
.underheader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
#locationIcon {
	width: 28.35px;
	height: 34.44px;
}
#cityName {
	color: #fff;
	font-size: 20px;
	margin: 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#currentTime {
	font-size: 42px;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
/*Центр*/
.weatherMain {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 637px;
	width: 1400px;
	margin-top: 146px;
	gap: 20px;
	padding: 0;
}
.weatherMain > :first-child {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0;
	width: 502px;
	height: 277px;
}
#temperature {
	font-size: 150px;
	color: #fff;
	margin: 0;
	padding: 0;
}
#date-string {
	font-size: 40px;
	color: #fff;
	margin: -35px 0 0 0;
	padding: 0;
}
.weatherMain > :nth-child(2) {
	display: flex;
	position: relative;
	width: 100%;
	height: 340px;
	gap: 20px;
}

.weatherMain > :nth-child(2) > :first-child {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 880px;
	height: 100%;
	gap: 20px;
}
.weatherMain > :nth-child(2) > :nth-child(2) {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 500px;
	height: 100%;
	background-color: rgb(42, 42, 42, 0.2);
	border-radius: 20px;
	border: rgb(255, 255, 255, 0.15) 2px solid;
	backdrop-filter: blur(10px);
}

#CalendarDiv {
	display: flex;
	width: 100%;
	height: 48px;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	padding: 12px;
	color: #fff;
}
#CalendarDiv button {
	background: none;
	border: none;
	box-shadow: none;
	position: relative;
	margin-left: 8px;
	width: 36px;
	height: 35.18px;
}
#CalendarDiv button img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#Weather-type {
	display: flex;
	flex-direction: column;
	width: 45%;
	padding: 12px;
}
#Weather-type img {
	width: 168px;
	height: 168px;
	object-fit: contain;
}
#Weather-type p {
	font-size: 32px;
	color: #fff;
	margin: 10px 0 0 0;
}
#brief-info-block {
	display: flex;
	flex-direction: column;
	width: 45%;
	padding: 12px;
	color: #fff;
	font-size: 36px;
}
#brief-info-block img {
	width: 44px;
	height: 44px;
	object-fit: contain;
	vertical-align: -0.2em;
	margin-right: 12px;
}
#brief-info-block p {
	margin: 0 0 10px 0;
	padding: 0;
}
#brief-info-block > :first-child {
	font-size: 40px;
}
/*блок з погодою погодинно*/
.slider-wrapper {
	display: flex;
	position: relative;
	background-color: rgb(42, 42, 42, 0.2);
	border-radius: 20px;
	border: rgb(255, 255, 255, 0.15) 2px solid;
	backdrop-filter: blur(10px);
	width: 95%;
	height: 180px;
	align-items: center;
	gap: 20px;
	padding: 0 20px;
}
.slider {
	display: flex;
	overflow-x: auto;
	gap: 30px;
	scroll-behavior: smooth; /* плавна прокрутка */
	scrollbar-width: none; /* firefox — сховати скролбар (опц.) */
}
.slider::-webkit-scrollbar {
	display: none;
} /* chrome/safari */

.item {
	min-width: 80px;
	max-height: 144px;
	padding: 0;
	color: #fff;
	text-align: center;
	flex-shrink: 0;
	font-size: 20px;
}
.item p {
	padding: 0;
	margin: 0;
	text-align: center;
}
.item > :nth-child(3) {
	font-size: 18px;
}

.item img {
	width: 50px;
	height: 50px;
	object-fit: contain;
	padding: 12px;
	background-color: rgba(217, 217, 217, 0.05);
	border: rgb(255, 255, 255, 0.2) 2px solid;
	border-radius: 50%;
}

.scroll-btn {
	border: none;
	position: relative;
	background: none;
	width: 30px;
	height: 40px;
	cursor: pointer;
}
.scroll-btn img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: contain;
}
/*-------------*/
.extended-info {
	display: flex;
	position: relative;
	background-color: rgb(42, 42, 42, 0.2);
	border-radius: 20px;
	border: rgb(255, 255, 255, 0.15) 2px solid;
	backdrop-filter: blur(10px);
	width: 95%;
	height: 120px;
	padding: 10px 21px;
	gap: 60px;
}
.extended-info div p {
	color: #fff;
	font-size: 24px;
	margin: 0;
}
.extended-info div img {
	width: 44px;
	height: 44px;
	object-fit: contain;
	vertical-align: -0.5em;
}
.extended-info > :first-child {
	margin-left: 8px;
}
.extended-info > :first-child p {
	text-align: center;
	width: 80px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}
.extended-info > :first-child p span {
	display: inline-block;
	padding-left: 100%;
	animation: ticker-move 10s linear infinite;
}
@keyframes ticker-move {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
.extended-info > :first-child img {
	width: 86px;
	height: 86px;
	object-fit: contain;
}
.extended-info > :nth-child(2) {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	column-gap: 60px;
	row-gap: 4px;
}

/*-------------------*/
#weatherMain {
	display: none;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	border-radius: 0.4rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
	width: 100%;
	max-width: 400px;
}

.forecastContainer {
	display: none;
	flex-direction: row;
	gap: 1rem;
}
#forecastTitle {
	display: none;
}

/*Кнопка показать/скрыть*/
#absoute-block {
	position: absolute;
	bottom: 0;
	right: 1.75rem;
	width: 50px;
	height: 50px;
}
#toggle-btn {
	position: relative;
	border: none;
	background: none;
	box-shadow: none;
	width: 100%;
	height: 100%;
}
#toggle-btn img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: opacity 0.25s ease;
}
.icon-show {
	opacity: 1;
}
.icon-hide {
	opacity: 0;
}
.hidden-btn .icon-show {
	opacity: 0;
}
.hidden-btn .icon-hide {
	opacity: 1;
}
.anim-block {
	transition: transform 0.4s ease, opacity 0.4s ease;
}
.hidden .anim-block {
	opacity: 0;
}
/* Кожен напрямок */
.hidden .anim-block[data-dir='up'] {
	transform: translateY(-40px);
}
.hidden .anim-block[data-dir='left'] {
	transform: translateX(-40px);
}

.hidden .anim-block[data-dir='right'] {
	transform: translateX(40px);
}

.hidden .anim-block[data-dir='down'] {
	transform: translateY(20px);
}
/*-----------------------*/

button {
	box-shadow: var(--shadow);
}

button {
	cursor: pointer;
	box-shadow: var(--shadow);
	transition: 0.2s ease-in-out;
}
button:hover {
	transform: scale(1.1);
}
